/*////////////////////////////////////
// CSS of Logo
/////////////////////////////////////*/

@media screen and (max-width: 767px) {
  .logo-container {
    justify-content: center;
    padding: 0;
  }

  .logo-container a {
    justify-content: center;
  }
}