h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the primary-heading */
.primary-heading {
  color: var(--color-white);
  width: 100%;
}

.primary-heading--main {
  display: block;
  font-size: var(--large-font-size);
  font-family: var(--thin);
  /* border-bottom: .1rem solid var(--color-secondary); */
  /* margin-bottom: 1rem; */
}

.hr--primary-heading {
  width: 80%;
  border: none;
  border-top: .1rem solid var(--color-secondary);
  margin: .5rem auto 1rem;
}

.primary-heading--sub {
  display: block;
  font-size: var(--small-font-size);
  font-family: var(--light);
  letter-spacing: .25px;
  color: var(--color-text-link);
}

/* Styles for the 'section-heading' */
.section-heading {
  font-size: var(--medium-font-size);
  font-family: var(--regular);
  padding: 1rem 0;
}

.subtitle {
  letter-spacing: .15rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .subtitle {
    text-transform: none;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 600px) {
  .primary-heading--main {
    font-size: var(--medium-font-size);
    line-height: 4.5rem;
    /* text-align: left; */
    padding-bottom: 1rem;
  }

  .primary-heading--sub {
    font-size: var(--default-font-size);
    /* text-align: left; */
  }

  .hr--primary-heading {
    width: 100%;
    border-top: .15rem solid var(--color-secondary);
    margin-right: auto;
    margin-left: 0 !important;
  }
}