:root {
  /* Background colors for the Header/Footer and the main Sections */
  --color-primary-black: #222;
  --color-secondary-black: #000;
  --background-color-hover: rgba(0, 0, 0, 0.5);

  /* Secondary color for the Icons and the Active Links and some times for Buttons */
  /* --color-secondary: #d5b250; */
  --color-secondary: #f8B91C;
  --color-secondary-dark: #e5aa28;

  /* Primary Blue color for the Buttons/Links */
  --color-primary-blue: #0c8cd6;
  --color-primary-blue-dark: #0c94e2;

  /* Pure White and Black color */
  --color-white: #fff;
  --color-black: #000;

  /* Text colors */
  --color-text-black: #333;
  --color-text-white: #fff;
  --color-text-link: #989797;
  --color-light-grey: #b9b9b9;

  /* Background Color */
  --background-light-gray: rgb(240, 240, 240);

  /* Font Size */
  --default-font-size: 1.6rem; /* letter-spacing: 0.15 */
  --small-font-size: 2.4rem; /* letter-spacing: 0 */
  --medium-font-size: 3.4rem; /* letter-spacing: 0.25 */
  --large-font-size: 4.8rem; /* letter-spacing: 0 */
  --larger-font-size: 6rem; /* letter-spacing: -0.5 */

  /* Font family */
  --thin: 'RobotoThin', sans-serif;
  --light: 'RobotoLight', sans-serif;
  --regular: 'RobotoRegular', sans-serif;
  --medium: 'RobotoMedium', sans-serif;
  --bold: 'RobotoBold', sans-serif;
}

.app {
  /* Grid Definition for App */
  --grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10.67rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  /* --grid-template-rows: 80vh min-content 40vw repeat(3, min-content); */
}

.page {
  /* Grid Definition for Page */
  --grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10.67rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.footer-box {
  --grid-template-columns: repeat(12, [col-start] minmax(min-content, 10.67rem) [col-end]);
  /* --grid-template-columns: repeat(12, [col-start] minmax(min-content, 1fr) [col-end]); */
}

.col-12-grid {
  --grid-template-columns: repeat(12, [col-start] minmax(min-content, 10.67rem) [col-end]); 
}